# Node.js dependencies
node_modules/

# Logs
logs/
*.log
*.log.*

# Operating system files
.DS_Store
Thumbs.db

# Build directories
/dist
/build
/out

# React build artifacts
/.next
/.cache

# dotenv environment variables
.env
.env.local
.env.*.local

# VSCode settings
.vscode/

# npm package lock files
package-lock.json
yarn.lock
